form 
  width: 500px
  height: auto
  margin: 0 auto
  margin-top: 50px
  display: flex
  flex-direction: column
  font-size: 22px
  border: 1px solid
  border-radius: 5px
  box-shadow: 3px 3px 5px 5px
  background-color: #aeaeff
  .form-title
    margin-bottom: 20px
    font-size: 36px
    font-weight: bold
  .form-element
    position: relative
    width: 80%
    margin: 20px auto
    text-align: left
  label
    margin: 10px auto
    font-size: 22px
  input
    width: 100%
    margin-top: 10px
    font-size: 1.2em
    border-radius: 3px
  .form-button
    margin: 30px auto
    padding: 10px 20px
    font-size: 26px
    color: white
    background-color: limegreen
    border: 1px
    border-radius: 20px
    cursor: pointer
    &:hover
      box-shadow: inset 0px 0px 25px 1px green

.form-subzeddits-dropdown
  position: absolute
  width: 100%
  padding: 0
  margin: 0
  list-style: none
  li
    padding: 15px
    border: 1px solid
    background-color: white

.form-errors
    background-color: red
    width: 80%
    margin: 0 auto
    border-radius: 15px
    p
      margin: 15px

@media (max-width: 500px)
  form
    width: 300px