.main-page-title
  margin: 10px 0
  padding: 10px 0
  font-weight: bold
  font-style: italic
  background-color: #82b1f7
  border: 1px solid #c5c5c5
  
.main-content
  display: flex
  justify-content: space-between

.sidebar-wrapper
  min-height: 30vh
  height: 40vh
  width: 25%
  display: flex
  flex-direction: column
  background-color: white
  border: 1px solid #c5c5c5
  border-radius: 10px
  .sidebar-title
    margin: 0
    padding: 20px
    background-color: #00a800d9
    border-radius: 10px  
  .users-count
    display: flex
    justify-content: space-around

.main-page-sidebar 
  justify-content: space-around
  height: 30vh
  button
    width: 90%
    padding: 10px 0
    font-size: 22px
    background-color: #87b0f9
    border: 1px
    
.posts-list-wrapper
  width: 73%
  min-height: 100vh
  margin-left: 10px
  background-color: white
  border-radius: 10px

