nav 
  height: 40px
  border-bottom: 1px solid black
  ul 
    height: 100%
    display: flex
    margin: 0
    list-style: none

.navigation-element
  padding: 10px 20px 0 20px
  background-color: #0c0c0c
  a
    color: white
    text-decoration: none
  &:hover
    background-color: #272727
    