nav 
  height: 50px
  display: flex
  justify-content: space-between
  border-bottom: 1px solid #c5c5c5
  background-color: white
  ul 
    height: 100%
    display: flex
    justify-content: flex-start
    margin: 0
    padding-left: 0
    list-style: none

.navigation-element
  position: relative
  a
    display: inline-block
    padding: 5px 10px
    color: white
    text-decoration: none
  button
    padding: 10px 
    font-size: 20px
    font-weight: bold
    color: black
    border: none
    border-radius: 10px
    background-color: transparent
    &:hover
      color: #0079d3
      border-bottom: 2px solid #0079d3
      cursor: pointer
  > button
    margin-top: 5px

.welcome-message
  margin: auto
  margin-right: 20px

.subscriptions-dropdown
  position: absolute
  width: 100%
  height: fit-content
  flex-direction: column
  background-color: #dedede
  border: 1px solid
  border-radius: 10px
  animation-name: nav-dropdown-ani
  animation-duration: 300ms
  animation-timing-function: ease-in-out
  transform-origin: top center
  li
    &:hover
      background-color: #9191fd
    &:first-child
      border-top-left-radius: 10px
      border-top-right-radius: 10px
    &:last-child
      border-bottom-left-radius: 10px
      border-bottom-right-radius: 10px
  a
    color: black
      
@keyframes nav-dropdown-ani
  0%
    transform: scaleY(0)

  100%
    transform: scaleY(1)
    
.button-prev
  padding: 10px 20px
  font-size: 13px
  font-weight: bold
  color: blue
  border: 2px solid blue
  border-radius: 10px
