nav 
  height: 50px
  display: flex
  justify-content: space-between
  border-bottom: 1px solid #c5c5c5
  background-color: white
  ul 
    height: 100%
    display: flex
    justify-content: flex-start
    margin: 0
    padding-left: 0
    list-style: none

.navigation-element
  a
    display: inline-block
    padding: 5px 10px
    color: white
    text-decoration: none
  button
    padding: 10px 
    font-size: 20px
    font-weight: bold
    color: black
    border: none
    border-radius: 10px
    background-color: transparent
    &:hover
      color: #0079d3
      border-bottom: 2px solid #0079d3
      cursor: pointer
  > button
    margin-top: 5px

.welcome-message
  margin: auto
  margin-right: 20px

.subscriptions-dropdown
  height: fit-content
  flex-direction: column
  background-color: #dedede
  border: 1px solid
  border-radius: 10px
  li
    &:hover
      background-color: #9191fd
  a
    color: black
      

    
    
.button-prev
  padding: 10px 20px
  font-size: 13px
  font-weight: bold
  color: blue
  border: 2px solid blue
  border-radius: 10px
