.post-page-wrapper
  display: flex
  align-items: flex-start
  width: 73%
  min-height: 100vh
  margin-left: 10px
  background-color: white
  border: 1px solid #c5c5c5
  border-radius: 10px
  .post-vote-wrapper
    margin: 0
    margin-right: 10px

.post-general-wrapper
  display: flex
  flex-direction: column
  text-align: left
  h3
    height: 50px
    border-bottom: 1px solid grey
  .post-comments
    border-top: 2px solid
    ul
      list-style: none
      border-left: 2px solid grey
        

.post-content
  img 
    width: 80%
    height: auto

.comment-info
  font-size: 0.7em
  color: grey

.comment-body
  display: flex
  margin-bottom: 10px
  padding-bottom: 10px
  border-bottom: 1px solid grey

.comment-content
  p 
    margin: 10px 0

.comment-form
  height: 150px
  margin: 0
  margin-top: 10px
  box-shadow: none
  border: none
  textarea
    height: 90%
    min-width: 100%
    max-width: 100%
    max-height: 90%
    font-size: 1em
  button
    margin: 10px 0 5px 5px
    width: 30%
    height: 15%
    color: white
    background-color: green
    border-color: green

.comment-buttons
  button
    margin-right: 10px
    color: grey
    background-color: transparent
    border: none
    border-radius: 5px
    &:hover
      background-color: #c5c5c5