.post-page-wrapper
  display: flex
  align-items: flex-start
  .post-vote-wrapper
    margin: 0
    margin-left: 10px
    margin-right: 10px

.post-general-wrapper
  width: 80%
  display: flex
  flex-direction: column
  text-align: left
  border-right: 1px solid grey
  h3
    height: 50px
    border-bottom: 1px solid grey
  .post-comments
    border-top: 2px solid
    ul
      list-style: none
      border-left: 2px solid grey
      li
        margin-bottom: 10px
        padding-bottom: 10px
        border-bottom: 1px solid grey

.post-content
  margin-bottom: 10px
  border: 2px solid grey
  border-radius: 10px
  background-color: #c7c7c7

.comment-info
  font-size: 0.7em
  color: grey