.posts-navigation
  display: flex
  justify-content: center
  height: 40px

.posts-navigation__button
  a
    color: white
    text-decoration: none

.posts-navigation__page-nums
  span
    padding: 5px 10px

.posts_navigation__page-nums_current
  padding: 5px 10px
  background-color: #0079d3
  border-radius: 100%
  color: white

