.subzeddit-header
  display: flex
  min-height: 40px
  margin: 20px 0 20px 10px
  padding: 10px 0 10px 10px
  text-align: left
  background-color: white
  border: 1px solid #c5c5c5
  border-radius: 10px
  h1
    margin: 0
    margin-right: 20px

.subzeddit-header-content
  display: flex

.subzeddit-page-wrapper
  background-color: #dae0e6

.posts-list
  list-style: none
  text-align: left
  li
    padding-bottom: 10px

.post-mini-wrapper
  display: flex
  padding: 5px 0
  border: 1px solid #c5c5c5
  &:first-child
    border-top-left-radius: 10px
    border-top-right-radius: 10px
  &:hover
    border: 1px solid

.post-preview
  width: 100px
  height: 60px
  background-color: #f2f2f2
  border-radius: 10px
  img
    width: 40px
    height: 40px
    display: block
    margin: 10px auto
    
.post-vote-wrapper
  margin-right: 15px
  margin-left: 10px
  font-size: 14px
  .post-rating
    text-align: center
    font-size: 1.2em
    font-weight: bold

.post-mini-content-wrapper
  width: 100%
  margin-left: 10px
  button
    color: blue
    font-weight: bold
    border: 2px solid blue
    border-radius: 5px
    &:hover
      color: white
      background-color: blue

.post-mini-title
  a
    font-size: 18px
    font-weight: bold
    color: black
    text-decoration: none
    &:hover
      text-decoration: underline

.post-mini-info
  margin-bottom: 5px
  margin-top: 1px
  font-size: 0.8em
  color: #5f5f5f
  p
    margin: 0
  a
    font-weight: bold
    color: black
    text-decoration: none
    &:hover
      text-decoration: underline

.post-mini-user-options
  display: flex
  font-weight: bold

.upvote-wrapper,
.downvote-wrapper
  display: flex
  align-items: center

.vote-button
  width: 16px
  height: 16px
  margin-right: 5px
  background-color: inherit
  border: none
  background: url('./down-arrow.png') no-repeat
  background-size: cover
  border: 1px solid
  border-radius: 50%
  &:hover
    cursor: pointer

.upvote-active
  background-color: green

.downvote-active
  background-color: red

.upvote-button
  transform: rotate(180deg)
  &:hover
    background-color: green
  
.downvote-button
  &:hover
    background-color: red

.post-mini-content
  margin-top: 10px
  width: 80%
  font-size: 16px
  color: black
  animation-name: post-min-content-ani
  animation-duration: 300ms
  animation-timing-function: ease
  transform-origin: top center
  img
    width: 80%
    height: auto

@keyframes post-min-content-ani
  0%
    transform: scaleY(0)
  100%
    transform: scaleY(1)
    
.user-options-element
  display: flex
  margin-right: 10px
  padding: 3px 5px
  &:first-child
    &:hover
      cursor: pointer
      background-color: #e0e0e0

.user-options-icon
  margin-top: 3px

.user-options-name
  margin-left: 4px

.expand-icon
  height: 10px
  width: 10px
  background: url('./icon-expand-arrow.png') no-repeat
  background-size: cover

.collapse-icon
  height: 10px
  width: 10px
  background: url('./icon-collapse-arrow.png') no-repeat
  background-size: cover

.comments-icon
  height: 12px
  width: 12px
  background: url('./icons-comments.png') no-repeat
  background-size: cover

.subzeddit-sidebar
  button
    width: 80%
    height: 35px
    margin-bottom: 10px
    font-size: 1em
    font-variant: all-small-caps