.posts-list
  list-style: none
  text-align: left
  li
    padding-bottom: 10px

.post-mini-wrapper
  display: flex
  padding-top: 10px
  padding-bottom: 10px
  border: 1px solid #c5c5c5
  &:hover
    border: 1px solid

.post-preview
  width: 60px
  height: 60px
  img
    width: 60px
    height: 60px
    
.post-vote-wrapper
  margin-right: 15px
  margin-left: 10px
  .post-rating
    margin: 5px 0
    text-align: center
    font-size: 1.2em
    font-weight: bold

.post-mini-content-wrapper
  width: 100%
  margin-left: 10px
  button
    color: blue
    font-weight: bold
    border: 2px solid blue
    border-radius: 5px
    &:hover
      color: white
      background-color: blue

.post-mini-title
  a
    font-size: 18px
    font-weight: bold
    color: black
    text-decoration: none
    &:hover
      text-decoration: underline

.post-mini-info
  margin: 5px 0
  font-size: 0.7em
  color: grey
  p
    margin: 0
    &:last-child
      font-weight: bold
      margin-top: 5px
  a
    font-weight: bold
    color: black
    text-decoration: none
    &:hover
      text-decoration: underline

.post-mini-user-options
  display: flex
  margin: 5px 0
  > *
    margin-right: 5px

.upvote-wrapper,
.downvote-wrapper
  display: flex
  align-items: center

.vote-button
  width: 25px
  height: 25px
  margin-right: 5px
  font-size: 20px
  background-color: inherit
  border: none
  background: url('./down-arrow.png') no-repeat
  background-size: cover
  border: 1px solid
  border-radius: 50%
  &:hover
    cursor: pointer

.upvote-active
  background-color: green

.downvote-active
  background-color: red

.upvote-button
  transform: rotate(180deg)

.post-mini-content
  padding: 10px
  margin-top: 10px
  width: 80%
  border: 2px solid
  border-radius: 10px
  background-color: #8080804a
  img
    width: 80%
    height: auto

    