.user-profile
  width: 80%
  margin: 0 auto
  background-color: white
  
.user-profile-nav
  display: flex
  height: 40px
  border-bottom: 1px solid grey
  list-style: none
  a
    display: block
    padding: 15px
    color: grey
    text-decoration: none
  .nav-selected
    border-bottom: 3px solid blue
    color: black

.user-settings-elem
  display: flex
  justify-content: space-between
  margin-bottom: 15px
  border-bottom: 1px solid black
  button
    height: 40px
    width: 80px